<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar hospital..." #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospitales ({{hospitales.length}})</h4>
                <h6 class="card-subtitle">Hospitales registrados en la aplicación</h6>
                <div class="mb-3" *ngIf="_usuarioService.user.role !== 'USER_ROLE'">
                    <button class="btn btn-primary" (click)="abrirModalSweetAlert()">
                        <i class="fa fa-hospital-o"></i>
                        Crear hospital
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th class="w100 text-center">Foto</th>
                                <th class="text-center">Nombre</th>
                                <th *ngIf="_usuarioService.user.role !== 'USER_ROLE'" class="text-nowrap w100 text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td class="text-center">
                                    <img [src]="hospital.img | imagen" class="w100 cursor" [alt]="hospital.nombre" (click)="abrirModal(hospital)">
                                </td>
                                <td>
                                    <input type="text" [disabled]="_usuarioService.user.role == 'USER_ROLE'" placeholder="Nombre del hospital" class="form-control" [(ngModel)]="hospital.nombre">
                                </td>
                                <td class="text-nowrap text-center" *ngIf="_usuarioService.user.role !== 'USER_ROLE'">
                                    <a (click)="actualizarHospital(hospital)" class="cursor" data-toggle="tooltip" data-original-title="Guardar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarHospital(hospital._id)" class="cursor" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
